/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/


/*********************
FONT FACE (IN YOUR FACE)
*********************/

/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?-zbnv95');
  src:url('../fonts/icomoon.eot?#iefix-zbnv95') format('embedded-opentype'),
    url('../fonts/icomoon.woff?-zbnv95') format('woff'),
    url('../fonts/icomoon.ttf?-zbnv95') format('truetype'),
    url('../fonts/icomoon.svg?-zbnv95#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hdd:before {
  content: "\e600";
}
.icon-warning:before {
  content: "\ed4c";
}
.icon-home:before {
  content: "\e900";
}
.icon-users:before {
  content: "\eaf5";
}
.icon-equalizer:before {
  content: "\eb58";
}
.icon-knife:before {
  content: "\eb67";
}
.icon-meter:before {
  content: "\ebdb";
}
.icon-puzzle3:before {
  content: "\ec1e";
}
.icon-brain:before {
  content: "\ec24";
}
.icon-tree6:before {
  content: "\ec62";
}
.icon-usb-stick:before {
  content: "\ea8d";
}
.icon-sleepy:before {
  content: "\ed1d";
}
.icon-loop2:before {
  content: "\eda6";
}
.icon-infinite:before {
  content: "\eda9";
}
.icon-shuffle2:before {
  content: "\edad";
}
.icon-checkbox-checked:before {
  content: "\ee63";
}
.icon-checkbox-unchecked:before {
  content: "\ee64";
}





/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/


// font stacks
$sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;

/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/
$lato:              'Lato', $sans-serif;

/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
p {
  -ms-word-wrap: break-word;
  word-break: break-word; //non-standart css for webkit
  word-wrap: break-word;
  // cleaning up the ragged lines and breaks
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2;
   -webkit-hyphenate-after: 3;
           hyphenate-lines: 3;
  // enabling fancy ligatures when available
  -webkit-font-feature-settings: "liga", "dlig";
   -moz-font-feature-settings: "liga=1, dlig=1";
      -ms-font-feature-settings: "liga", "dlig";
       -o-font-feature-settings: "liga", "dlig";
          font-feature-settings: "liga", "dlig";
}

